<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Halfmoon Move Client</title>
    <script src="https://static.opentok.com/v2/js/opentok.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="alert alert-primary" role="alert">
        Global Notification Area <br><span class="" id="clientCount"></span>
    </div>
    <div id="videos" class="row">
        <div id="subscribers" class="col-md-4 col-sm-12">
            <div class="card" id="myself">

            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" onclick="disableAudio()" class="btn btn-secondary">Mute Self</button>
                <button type="button" onclick="disableVideo()" class="btn btn-secondary">Disable Video</button>
                <button type="button" onclick="enableAudio()" class="btn btn-secondary">UnMute Self</button>
                <button type="button" onclick="enableVideo()" class="btn btn-secondary">enable Video</button>
            </div>
            <div class="card" id="subscriber">

            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="card" id="publisher">

            </div>
            <div class="card" id="chat">
                <div id="textchat">
                    <p id="history"></p>
                    <form>
                        <input type="text" placeholder="Input your text here" id="msgTxt"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- OpenTok.js library -->
<script src="https://static.opentok.com/v2/js/opentok.js"></script>
<script>
    let clientCount = 1;

    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }

    // credentials
    var apiKey = '<%= apiKey %>';
    var sessionId = '<%= sessionId %>';
    var token = '<%= token %>';
    var clientName = '<%= cName %>';

    // connect to session
    var session = OT.initSession(apiKey, sessionId);

    // create publisher
    var publisher = OT.initPublisher('myself', {
        width: '100%',
        height: '100%',
        insertMode: 'append'
    }, handleError);
    session.connect(token, function (error) {
        // publish publisher
        if (error) {
            handleError(error);
        } else {
            session.publish(publisher, handleError);
        }
    });

    // create subscriber
    session.on('streamCreated', function (event) {
        //session.subscribe(event.stream);
        //alert('event.stream.caller' + event.stream.caller);
        //alert('event.stream.name' + event.stream.name);
        //alert('event.stream.id' + event.stream.id);
        var subscribers;
        clientCount++;
        document.getElementById("clientCount").innerHTML = 'Online Count: ' + clientCount.toString();
        if (event.stream.name === 'Tutor') {
            subscribers = session.subscribe(event.stream, 'publisher', {
                //insertMode: 'append',
                width: '100%',
                height: '100%'
            }, handleError);
        } else {
            subscribers = session.subscribe(event.stream, 'subscriber', {
                insertMode: 'before',
                width: '100%',
                height: '200',
                //type: 'bestFit'
            }, handleError);
        }
        SpeakerDetection(subscribers, function () {
            console.log(subscribers.name + 'started talking');

        }, function () {
            console.log('stopped talking');
        });
    });

    // Receive a message and append it to the history
    var msgHistory = document.querySelector('#history');
    session.on('signal:msg', function signalCallback(event) {
        var msg = document.createElement('p');
        msg.textContent = event.data;
        msg.className = event.from.connectionId === session.connection.connectionId ? 'mine' : 'theirs';
        msgHistory.appendChild(msg);
        msg.scrollIntoView();
    });

    // Text chat
    var form = document.querySelector('form');
    var msgTxt = document.querySelector('#msgTxt');

    // Send a signal once the user enters data in the form
    form.addEventListener('submit', function submit(event) {
        event.preventDefault();

        session.signal({
            type: 'msg',
            data: clientName + ': ' + msgTxt.value
        }, function signalCallback(error) {
            if (error) {
                console.error('Error sending signal:', error.name, error.message);
            } else {
                msgTxt.value = '';
            }
        });
    });

    var SpeakerDetection = function (subscriber, startTalking, stopTalking) {
        var activity = null;
        subscriber.on('audioLevelUpdated', function (event) {
            var now = Date.now();
            if (event.audioLevel > 0.2) {
                if (!activity) {
                    activity = {timestamp: now, talking: false};
                } else if (activity.talking) {
                    activity.timestamp = now;
                } else if (now - activity.timestamp > 1000) {
                    // detected audio activity for more than 1s
                    // for the first time.
                    activity.talking = true;
                    if (typeof (startTalking) === 'function') {
                        startTalking();
                    }
                }
            } else if (activity && now - activity.timestamp > 3000) {
                // detected low audio activity for more than 3s
                if (activity.talking) {
                    if (typeof (stopTalking) === 'function') {
                        stopTalking();
                    }
                }
                activity = null;
            }
        });
    };

    function disableVideo() {
        publisher.publishVideo(false);
    }

    function enableVideo() {
        publisher.publishVideo(true);
    }

    function disableAudio() {
        publisher.publishAudio(false);
    }

    function enableAudio() {
        publisher.publishAudio(true);
    }

</script>
</body>
</html>
